@model HuertoDelValle.Models.Receta

@{
    ViewData["Title"] = "Detalle de la Receta";
}

<link rel="stylesheet" href="~/css/receta.css" />

<div class="container">
    <div class="contenedor__receta">
        <div class="contenedor__img">
            <img src="@Html.DisplayFor(model => model.Imagen)" alt="" class="img__receta">
        </div>
        <div>
            <div class="contenedor__desc__receta">
                <p>@Html.DisplayFor(model => model.DescripcionReceta)</p>
                <span>Te dejamos la receta: 游녢游낕</span>
                <div class="contenedor__ingredientes">
                    <span>Ingredientes:</span>
                    <p>@Html.DisplayFor(model => model.Ingrediente)</p>
                </div>
                <span>Preparaci칩n:</span>
                <ol>@Html.DisplayFor(model => model.Preparacion)</ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-3 title__comentario">Rese침as</h2>
   @if(@ViewBag.resenas)
   {
        <div class="container rese침a__cont">
            <div class="row" style="background-color: teal; color:white;">
                <div class="col-8">
                Comentario
                <small style="margin-left: 15px;">
                    @ViewBag.fecha
                </small>
                </div>
                <div class="col-4 text-right">
                <label>
                @for (int i = 0; i < ViewBag.calificacion; i++)
                {
                    <span class="fa fa-star checked"></span>
                }
                @for (int i = 0; i < 5-ViewBag.calificacion; i++)
                {
                    <span class="fa fa-star"></span>
                }
                </label>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left: 10%; padding-right: 10%; padding-top: 0.5rem; text-align: justify; text-justify: auto;">
                <i>
                    "@ViewBag.resenausuario"
                </i>
                </div>
            </div>
            <div class="row">
                <div class="col-8">                        
                </div>
                <div class="col-4 text-right mb-3">
                <small>
                    <b>
                        ~@ViewBag.nombreusuario~
                    </b>
                </small>
                </div>
            </div>
            <div class="btn__conte">
                <a asp-controller="Rese침a" asp-action="AdministrarRese침as" asp-route-rece="@Model.Id" class="btn__rese침a">Ver todas las rese침as</a>
                <a asp-controller="Receta" asp-action="AdministrarReceta" class="btn__volver" >Volver</a>    
            </div>
        </div>

   }else{
       <div class="container">
            <p class="msj__receta">Aun no se han agregado rese침as</p><br/>
            <div class="text-center">
                <a asp-controller="Receta" asp-action="AdministrarReceta" class="btn__volver" >Volver</a>
            </div>
       </div>
   }
</div>

<style>
.btn__volver{
  text-align: center;
  font-family: 'Poppins', serif;
  background: #007175;
  border: 0.5px solid #007175;
  font-size: 18px;
  border-radius: 200px;
  padding: 6px 25px;
  margin: 20px 50px 0;
  color: #FFFFFF;
}

.btn__volver:hover{
    text-decoration: none;
    background: #007171;
    color: #dce9e8;
}

.msj__receta{
    text-align: center;
    font-size: 18px;
}

.title__comentario{
    font-weight: bold;
    text-align: center;
    padding-bottom: 25px;
    letter-spacing: 1.1px;
}
</style>