@model IEnumerable<HuertoDelValle.Models.Categoria>
@{
    ViewData["Title"] = "Administrar Categorias";
}
<link rel="stylesheet" href="~/css/categoria.css" />

<div class="container">
    <br>
    <div>
        <a asp-action="AgregarCategoria" class="btn__add_categoria">Registrar Categoria</a>
    </div>
    <br>

    <table>
        <h1 class="table__title">Lista de Categorias</h1> 
        <thead class="table__thead">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Productos</th>
                <th class="text-center">Operaciones</th>
            </tr>
        </thead>
        <tbody class="table__body">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NombreCategoria</td>
                <td>
                    @foreach (var producto in item.Productos)
                    {
                        <ol>
                            <span>@producto.NombreProducto</span>
                        </ol>
                    } 
                    @if (item.Productos.Count == 0){
                        <ol>
                            <span>No hay productos registrados 😔</span>
                        </ol>
                    }    
                </td>
                <td class="text-center">
                    <a asp-action="EditarCategoria" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>  |
                    <a asp-action="DetalleCategoria" asp-route-id="@item.Id"><i class="fas fa-file"></i></a>   |   
                    <a asp-action="EliminarCategoria" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('¿Seguro que quieres eliminar el producto?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>