@model IEnumerable<HuertoDelValle.Models.Producto>

@{
    ViewData["Title"] = "Administrar Productos";
}
<link rel="stylesheet" href="~/css/producto.css" />

<div class="container">
    <br>
    <div class="btn__section">
        <a asp-action="AgregarProducto" class="btn__add_product">Registrar Producto</a>
        <a asp-controller="CrearPDF" asp-action="Index" class="btn__pdf">Generar Reporte</a>
    </div>
    <br>
    <table class="table__product">
        <h1 class="table__title">Lista de Productos</h1>
        <thead class="table__thead">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th class="text-center">Operaciones</th>
            </tr>
        </thead>
        <tbody class="table__body">
        @foreach (var item in Model)
        {
            <tr >
                <td>@item.Id</td>
                <td>@item.NombreProducto</td>
                <td>S/@item.PrecioProducto</td>
                <td>@item.Categoria.NombreCategoria</td>
                <td class="text-center">
                    <a asp-action="EditarProducto" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>  |
                    <a asp-action="DetalleProducto" asp-route-id="@item.Id"><i class="fas fa-file"></i></a>   |   
                    <a asp-action="EliminarProducto" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('¿Seguro que quieres eliminar el producto?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>