@model Producto

@{
    ViewData["Title"] = "Detalle";
}

<link rel="stylesheet" href="~/css/producto.css" />

<div class="container__product">
    <div class="card">
        <h3 class="title__detalle">Detalle del Producto</h3>
        <div class="details__product">
            <div class="details__txt">
                <p> <span>Nombre:</span> @Html.DisplayFor(model => model.NombreProducto)</p>
                <p> <span>Stock:</span> @Html.DisplayFor(model => model.Stock) unidades</p>
                <p> <span>Precio:</span> S/ @Html.DisplayFor(model => model.PrecioProducto)</p>
                <p> <span>Descripción:</span> <br/> @Html.DisplayFor(model => model.DescripcionProducto)</p>
            </div>
            <div class="details__img">
                <img src="@Html.DisplayFor(model => model.ImagenProducto)" class="product__details__img" alt="">
            </div>
            <div class="details__btn">
                <a asp-action="AdministrarProducto"  class="btn__volver" >Volver</a>
            </div>
        </div>
    </div>
</div>