@{
    ViewData["Title"] = "Consultas";
}
@model IEnumerable<Contacto>

<div class="container">
    <div>
        <h2>Consultas</h2>
        <hr>
        <br>
        <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="text-center">
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Mensaje)
                    </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <th scope="row">
                        @Html.DisplayFor(modelItem => item.Id)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mensaje)
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>
</div>

<style>
h2{
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding-bottom: 10px;
    letter-spacing: 1.1px;
}
</style>