@model IEnumerable<HuertoDelValle.Models.Proforma>

@{
    ViewData["Title"] = "Carrito";
}

<link rel="stylesheet" href="~/css/proforma.css" />

@if (Model.Count() == 0){
    <div class="container text-center">
        <div class="carrito__vacio">
            <img src="~/img/cartvacio.png" alt="" class="cart__img">
            <div class="cart__content">
                <h2 class="cart__title">Tu carrito está vacio</h2>
                <p class="cart__txt"> Antes de proceder con el pago, debe agregar algunos productos a su carrito de compras.
                    <br/>Encontrará muchos productos interesantes en nuestra página "Tienda". </p>
                <a asp-controller="Catalogo" asp-action="Catalogo"><button class="btn__cart">Volver a la tienda</button></a>
            </div>
        </div>
    </div>
}else{

<div class="container">
    <div class="block__shopping row">
        <div class="shopping__cart col-md-8">
            <table class="table__cart">
                <thead class="table__thead">
                    <tr>
                        <th></th>
                        <th colspan="2">Producto</th>
                        <th>Precio</th>
                        <th></th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody class="table__tbody">
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            <a asp-action="QuitarProducto" asp-route-id="@item.Id" style="color: #D52F0B;" ><i class="fa fa-remove"></i></a>
                        </td>
                        <td class="img__td">
                            <img src="@Html.DisplayFor(modelItem => item.Producto.ImagenProducto)" class="img__product__cart" alt="">
                        </td>
                        <td class="td__product">
                            @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                        </td>
                        <td>
                            S/@Html.DisplayFor(modelItem => item.Producto.PrecioProducto)
                        </td>
                        <td>
                            <a asp-action="EditarCantidad" asp-route-id="@item.Id" style="color: #000;" ><i class="fa fa-pencil"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            S/ @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                    </tr>         
                }
                </tbody>
            </table>
        </div>
        @{
        decimal total = 0;
        var contar = 1;
        }
        @foreach (var item in Model){
            <tr>
                @{
                    total = total + item.SubTotal;
                    contar++;
                }
            </tr>
        }
        <div class="total col-md-4">
            <h3 class="total__title">Total del Carrito</h3>
            <div>
                <div class="subtotal">
                    <div class=""> <strong> SubTotal </strong> </div>
                    <div class="">S/ @total</div>
                </div>
            </div>
            <div>
               <div class="envio">
                    <div class="title__shipping"> <strong> Pago en una cuota </strong> </div>
                </div>
            </div>
            <div>
                <div class="total__shipping">
                    <div class=""> <strong> Total </strong> </div>
                    <div class="">S/ @total</div>
                </div>
            </div>
            <div style="text-align: center;">
                <a asp-action ="Procesar" class="btn btn-danger">Procesar Pedido</a>
            </div>
        </div>
    </div>
</div>

}
