@model IEnumerable<HuertoDelValle.Models.Proforma>

@{
    ViewData["Title"] = "Carrito";
}

<link rel="stylesheet" href="~/css/proforma.css" />

@if (Model.Count() == 0){
    <div class="container text-center">
        <div class="carrito__vacio">
            <img src="~/img/cartvacio.png" alt="" class="cart__img">
            <div class="cart__content">
                <h2 class="cart__title">Tu carrito está vacio</h2>
                <p class="cart__txt"> Antes de proceder con el pago, debe agregar algunos productos a su carrito de compras.
                    <br/>Encontrará muchos productos interesantes en nuestra página "Tienda". </p>
                <a asp-controller="Catalogo" asp-action="Catalogo"><button class="btn__cart">Volver a la tienda</button></a>
            </div>
        </div>
    </div>
}else{
<div class="container">
    <h1>Carrito de Compras</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th colspan="2" class="text-center">
                    Producto
                </th>
                <th></th>
                <th class="text-center">
                    Cantidad
                </th>
                <th class="text-center">
                    SubTotal
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="text-center">
                        <a asp-action="QuitarProducto" asp-route-id="@item.Id" style="color: #D52F0B;" ><i class="fa fa-remove"></i></a>
                    </td>
                    <td colspan="2">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <img src="@Html.DisplayFor(modelItem => item.Producto.ImagenProducto)" width="65px" height="65px" alt="">
                            </div>
                            <div class="col-md-8" style="text-align:left;">
                                @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <a asp-action="EditarCantidad" asp-route-id="@item.Id" style="color: #000;" ><i class="fa fa-pencil"></i></a>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td class="text-center">
                        S/ @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                </tr>         
            }
        </tbody>
    </table>
    @{
        decimal total = 0;
        var contar = 1;
    }
    @foreach (var item in Model){
        <tr>
            @{
                total = total + item.SubTotal;
                contar++;
            }
        </tr>
    }
    <div class="text-center">
        <div class="" style="border-top: 1px solid #C4C4C4; padding-top: 5%;font-family: sans;">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"><p class="" style="font-size: 30px;" > <strong>Total :</strong> S/ @total</p> </div>
            </div>
        </div>    
    </div>
<br>
</div>
}
<style>
    table th {
        padding: 15px 10px;
        color: #2d2a2a;
        vertical-align: middle;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Poppins", Helvetica, sans-serif; 
        font-size: 16px;
        line-height: 1.2;
    }
</style>